.header__catalog--color {
  border-radius: 0 1.2rem 1.2rem 1.2rem;
  background: #2b3350;
  color: #ffffff;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 140%;
}
