.cart__wrap {
  min-height: 54.5rem;
  max-width: 28.1rem;
  @include centered;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;

  @media (min-width: 48em) {
    &:hover {
      max-width: none;
      width: 33rem;
      border: 0.1rem solid #f3f4f7;
      box-sizing: border-box;
      box-shadow: 0 2rem 5.2rem -0.8rem rgba(0, 0, 0, 0.15);
      border-radius: 1.6rem;
      padding-top: 6rem;
      padding-bottom: 4.7rem;
      padding-left: 5rem;
      padding-right: 4.143rem;
      margin-left: -2rem;

      & .button__cart {
        display: block;
      }
    }
  }
}
@media (max-width: 48em) {
  .cart__wrap {
    max-width: 43.44vw;
  }
}
