.cart__coin-old {
  @include font(700, 2rem, 140%);
  color: $color-text-black;
}

@media (max-width: 48em) {
  .cart__coin-old {
    @include font(700, 5.31vw, 140%);
    letter-spacing: -0.05em;
  }
}
