.offers__img-juridical {
  width: 8.8rem;
  height: 8.8rem;
  margin-bottom: 1.9rem;
  position: relative;
  left: 1rem;
}

@media (max-width: 48em) {
  .offers__img-juridical {
    width: 15vw;
    height: 15vw;
    margin-right: 1vw;
    margin-bottom: 0;
  }
}
