.header-basket__count--size {
  color: #ffffff;
  padding: 0.2rem 0.6rem;
  background: #0074d4;
  border-radius: 2.7rem;
}

@media (max-width: 48em) {
  .header-basket__count--size {
    position: absolute;
    transform: translate(60%, -50%);
    padding: 0.4rem 1.2rem;
    border-radius: 5.4rem;
  }
}
